<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tempus.cn.distributetransactiondemo.mapper.OrderMapper">
    <resultMap id="resultMap" type="com.tempus.cn.distributetransactiondemo.model.OrderModel">
        <result column="id" javaType="java.lang.Integer" property="id"/>
        <result column="order_no" javaType="java.lang.String" property="orderNo"/>
        <result column="user_name" javaType="java.lang.String" property="userName"/>
        <result column="create_time" javaType="java.util.Date" property="date"/>
    </resultMap>

    <insert id="createOrder" parameterType="com.tempus.cn.distributetransactiondemo.model.OrderModel" useGeneratedKeys="true" keyProperty="id">
         insert  into `order_table`(`order_no`,`user_name`,`create_time`) value
          (#{orderNo},#{userName},#{date});
    </insert>
</mapper>